<span class="created-by">
     <span class="text-primary">{{t['ui.ubicacion-org']}}:&nbsp;</span>{{etiquetaDominio}}<span class="text-primary">&nbsp;/&nbsp;</span>{{etiquetaUO}}
    <!-- Created with ♥ by <b><a href="https://akveo.page.link/8V2f" target="_blank">Akveo</a></b> 2019 -->
  </span>
  <div class="socials">
    <!-- <a href="#" target="_blank" class="ion ion-social-github"></a> -->
    <a href="https://www.facebook.com/Arguzdigitalizacion" target="_blank" class="ion ion-social-facebook"></a>
    <a href="https://twitter.com/arguzdigital" target="_blank" class="ion ion-social-twitter"></a>
    <!-- <a href="#" target="_blank" class="ion ion-social-linkedin"></a> -->
  </div>
