.background-highlight {
    color: darkslategray;
    font-weight: bolder;
    background-color: #f6f7f9;
}

.txtColor:hover {
  color: red;
  cursor: pointer;
}

.tree-progress-bar {
    margin-left: 30px;
}
  
.icon-display {
  font-size: 50px;
  color: gainsboro;
}