<div class="container col-12 justify-content-around">
    <div ngfDrop [(validDrag)]="baseDropValid" multiple="1" [selectable]="selectable"
        (fileOver)="hasBaseDropZoneOver=$event" [(files)]="files" [accept]="accept" [maxSize]="maxSize"
        [(dragFiles)]="dragFiles" [(lastInvalids)]="lastInvalids" class="my-drop-zone"
        [class.invalid-drag]="baseDropValid===false" [class.valid-drag]="baseDropValid"
        (filesChange)="lastFileAt=getDate()" [fileDropDisabled]="fileDropDisabled">
        <br>
        <div style="margin-bottom: 40px">
            <div class="row justify-content-around">
                <div class="col-md justify-content-start">
                    <button ngfSelect nbButton multiple="1" type="file" [(files)]="files" [accept]="accept"
                        [maxSize]="maxSize" [(lastInvalids)]="lastInvalids" (filesChange)="lastFileAt=getDate();">
                        Elegir...
                    </button>
                </div>
                <div class="col-5 justify-content-center">
                    <div class="progress">
                        <!-- [ngStyle]="{ 'width': progress + '%' }" -->
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                </div>
                <div class="col-md justify-content-end">
                    <button class="single-view-button" nbButton size="small" on-click="uploadFiles()"
                        [disabled]="!files.length" nbPopoverPlacement="bottom" nbPopover="Enviar"
                        nbPopoverTrigger="hint">
                        <nb-icon icon="upload-outline" pack="eva"></nb-icon>
                    </button>
                    <button class="grid-view-button" nbButton size="small" [disabled]="!httpEmitter" on-click="cancel()"
                        nbPopoverPlacement="bottom" nbPopover="Cancelar" nbPopoverTrigger="hint">
                        <nb-icon icon="slash-outline" pack="eva"></nb-icon>
                    </button>
                    <button class="grid-view-button" nbButton size="small" on-click="files.length=0"
                        [disabled]="!files.length" nbPopoverPlacement="bottom" nbPopover="Eliminar todo"
                        nbPopoverTrigger="hint">
                        <nb-icon icon="trash-outline" pack="eva"></nb-icon>
                    </button>
                </div>
            </div>
            <br>
            <div class="row justify-content-around">
                <div class="filesContainer">
                    <div class="filesList">
                        <div *ngFor="let item of files;let i=index">
                            <div class="row">
                                <div class="col-1">
                                    <button type="button" nbButton ghost (click)="files.splice(i,1)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div class="col-1"
                                    *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0; else elseBlock">
                                    <div class="previewIcon" [ngfBackground]="item"></div>
                                </div>
                                <ng-template #elseBlock>
                                    <div class="col-1"></div>
                                </ng-template>
                                <div class="col-7">
                                    {{item.name}}
                                </div>
                                <div class="col-3">
                                    <!-- {{ item.size/1024/1024 | number:'.2' }} MB -->
                                    <!-- <mat-progress-bar *ngIf="progress" mode="determinate"
                                        [value]="progress[item.name].progress | async"></mat-progress-bar> -->

                                    <nb-progress-bar *ngIf="progress" [value]="progress[item.name].progress | async">
                                    </nb-progress-bar>
                                </div>
                            </div>
                            <mat-divider inset="true"></mat-divider>
                            <br>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <p>{{ files.length }} archivos seleccionados</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>