<div *ngIf="!oculto">
<div *ngIf="isTextArea; then textareaBlock else textinputBlock"></div>
<ng-template #textareaBlock>
        <div class="col-lg-12 col-md-12 col-sm-12 form-group" (input)="cambiovalor($event)" [formGroup]="group">
            <label [for]="propiedad.Id" class="label">&nbsp;{{propiedad.NombreI18n}}</label>
            <textarea nbInput fullWidth="true" 
            [id]="propiedad.Id" [formControlName]="propiedad.Id" class="form-control">
            </textarea>
        </div>
</ng-template>
<ng-template  #textinputBlock>
        <div class="col-lg-12 col-md-12 col-sm-12 form-group" (input)="cambiovalor($event)" [formGroup]="group">
            <label [for]="propiedad.Id" class="label">&nbsp;{{propiedad.NombreI18n}}</label>
            <input nbInput type="text" fieldSize="medium" fullWidth="true" 
                [id]="propiedad.Id" [formControlName]="propiedad.Id" class="form-control" />
        </div>
</ng-template>
</div>