<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="form-group" [formGroup]="group">
        <label [for]="config.Id" class="label">&nbsp;{{config.NombreI18n}}</label>

        <span *ngIf="isDateTime">
            <input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" #src1 nbInput fieldSize="tiny"
                fullWidth="true" [attr.placeholder]="config.placeholder" [formControlName]="config.Id"
                class="form-control" />
            <owl-date-time [pickerType]="'both'" #dt1></owl-date-time>
        </span>
        <span *ngIf="isDate">
            <input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" #src1 nbInput fieldSize="tiny"
                fullWidth="true" [attr.placeholder]="config.placeholder" [formControlName]="config.Id"
                class="form-control" />
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </span>
        <span *ngIf="isTime">
            <input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" #src1 nbInput fieldSize="tiny"
                fullWidth="true" [attr.placeholder]="config.placeholder" [formControlName]="config.Id"
                class="form-control" />
            <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
        </span>
    </div>
</div>