@import '../../../../@theme/styles//themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card-header {
    display: flex;
    align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .single-view-button {
    ::ng-deep svg {
        vertical-align: top;
      }

    @include nb-ltr {
      margin-left: auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    @include nb-rtl {
      margin-right: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .grid-view-button {
    ::ng-deep svg {
      vertical-align: top;
    }

    @include nb-ltr {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    @include nb-rtl {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }


}
