<div>
    <div class="row">
      &nbsp;
    </div>
    <form [formGroup]="formGroup">
      <div class="row">
          <ng-container *ngFor="let campo of propiedadesActivas;"
            ngxCampoEditable 
            [propiedad]="campo" 
            [isUpdate] = "modoEditar" 
            [group]="formGroup"
            [transaccionId]="transaccionId"
            [filtrosQ] = "filtrosQ"
            >
          </ng-container>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="col-lg-12 col-md-12 col-sm-12">
            &nbsp;
          </div>
          <div class="justify-content-center">
            <div *ngIf="modoEditar; else btnAdd">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <button  (click)="ActualizaEntidad()" status="primary" [fullWidth]="true" nbButton >
                  <nb-icon icon="checkmark"></nb-icon>{{T.t['ui.guardar']}}
                </button>
              </div>
            </div>
            <ng-template #btnAdd>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <button  (click)="CreaEntidad(true)" status="primary" [fullWidth]="true" nbButton >
                    <nb-icon icon="checkmark"></nb-icon>{{T.t['ui.guardar']}}
                  </button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  &nbsp;
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" style="display: none;">
                  <button *ngIf="!modoEditar"  status="info" (click)="CreaEntidad(false)" [fullWidth]="true" nbButton>
                    <nb-icon icon="checkmark-circle"></nb-icon>{{T.t['ui.guardar-adicionar']}}
                  </button>
                </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <span 
        *ngFor="let campo of propiedadesHidden;">
        <ng-container
          ngxCampoEditable 
          [propiedad]="campo" 
          [isUpdate] = "modoEditar" 
          [group]="formGroup"
          [transaccionId]="transaccionId"
          [filtrosQ] = "filtrosQ"
          >
        </ng-container>
      </span>  
      </div>
      <div class="row">
        &nbsp;
      </div>
    </form>
