<div class="col-lg-12 col-md-12 col-sm-12 form-group" [formGroup]="group">
    <label [for]="propiedad.Id" class="label">&nbsp;{{propiedad.NombreI18n}}</label>

    <span *ngIf="isDateTime">
        <input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" #src1 nbInput fieldSize="medium"
            fullWidth="true" [formControlName]="propiedad.Id" class="form-control" />
        <owl-date-time [pickerType]="'both'" #dt1></owl-date-time>
    </span>
    <span *ngIf="isDate">
        <input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" #src1 nbInput fieldSize="medium"
            fullWidth="true" [formControlName]="propiedad.Id" class="form-control" />
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    </span>
    <span *ngIf="isTime">
        <input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" #src1 nbInput fieldSize="medium"
            fullWidth="true" [formControlName]="propiedad.Id" class="form-control" />
        <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
    </span>
</div>