<nb-card>
    <nb-card-header>{{titulo}}</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div [innerHTML]="texto"></div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="confirmarId" class="col-lg-12 col-md-12 col-sm-12 mt-2">
                <input nbInput type="text" fieldSize="medium" fullWidth="true" 
                [id]="idconfirmacion"  class="form-control" status='info'
                placeholder="{{T.t['editor-pika.mensajes.confirm-crud-eliminarid']}}"
                name="idconfirmacion" [ngModel]="idconfirmacion" (ngModelChange)="cambiaIdConfirmacion($event)"
                />
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <button nbButton size="medium" (click)="cerrar()">
                        {{ T.t["ui.cancelar"] }}
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="float-right">
                    <button nbButton size="medium" [disabled]="!confirmacionActivo" status="primary" (click)="aceptar()">
                        {{ T.t["ui.aceptar"] }}
                    </button>
                </div>
            </div>
        </div>
    </nb-card-footer>
</nb-card>