<h2 mat-dialog-title>{{ T.t["ui.modal-scanner-titulo"] }}</h2>
<mat-dialog-content>
  <mat-radio-group [(ngModel)]="opcionSeleccionada">
    <mat-radio-button [value]="PosicionCarga.al_inicio">{{ T.t["ui.modal-scanner-alinicio"] }}</mat-radio-button><br />
    <mat-radio-button [value]="PosicionCarga.al_final">{{ T.t["ui.modal-scanner-alfinal"] }}</mat-radio-button><br />
    <mat-radio-button [value]="PosicionCarga.en_posicion">
      {{ T.t["ui.modal-scanner-enposicion"] }}
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()" [disabled]="cargando">Cancelar</button>
  <button mat-raised-button color="primary" (click)="aceptar()"
          [disabled]="cargando">
    {{ cargando ? 'Cargando...' : 'Aceptar' }}
  </button>
</mat-dialog-actions>
