<ngx-table #table [configuration]="configuration" 
    [data]="data" [columns]="columns" [pagination]="pagination"
    (event)="eventosTabla($event)">
</ngx-table>

<!-- Tmplate para despliegue de booleanos-->
<ng-template #boolTpl let-row let-rowIndex="rowIndex" let-column="column">
    <nb-checkbox [checked]="row[column.key]" [disabled]="true"></nb-checkbox>
</ng-template>

<!-- Template para columnas ID -->
<ng-template #listTpl let-row let-rowIndex="rowIndex" let-column="column">
    <label>{{EtiquetaDeId(row[column.key], column.key)}}</label>
</ng-template>


<!-- Cuadro de dialogo para la selección de columnas-->
<ng-template #dialogColPicker let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>{{t['ui.selcol']}}</nb-card-header>
        <nb-card-body>
            <div class="col-lg-6 col-md-6 col-sm-12"  *ngFor="let col of this.columnasBase">
                <nb-checkbox *ngIf="col.Alternable"  (checkedChange)="AlternarColumna(col.Id, $event)"  
                [checked]="col.Visible">{{ col.NombreI18n }}</nb-checkbox>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right">
                        <button nbButton size="medium" (click)="ref.close()">{{t['ui.cerrar']}}</button>
                    </div>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>
