<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="form-group" [formGroup]="group">
        <label [for]="propiedad.Id" class="label">&nbsp;{{propiedad.NombreI18n}}</label>
        <nb-select size="small" fullWidth="true" hero="true" 
        [formControlName]="propiedad.Id"
            [id]="propiedad.Id" #lista [selected]="selected" (selectedChange)="onChange($event)">
            <nb-option *ngFor="let item of list" [value]="item.Id">{{item.Texto}}</nb-option>
        </nb-select>
    </div>
</div>