<div class="row">
    <div class="col-lg-12">
        <nb-reveal-card [showToggleButton]="false" [revealed]="vistaAlterna">
            <nb-card-front>
                <nb-card accent="info" size="large">
                    <nb-card-header>
                        {{NombreEntidad}}
                        <button class="single-view-button" nbButton size="small" on-click="refrescarTabla()"
                            nbPopoverPlacement="bottom" [nbPopover]="t['ui.actualizar']" nbPopoverTrigger="hint">
                            <nb-icon icon="refresh" pack="eva"></nb-icon>
                        </button>
                        <button class="grid-view-button" nbButton size="small"  *ngIf="vincularActivo" on-click="mostrarVinculos()"
                            nbPopoverPlacement="bottom" [nbPopover]="t['ui.propiedades']" nbPopoverTrigger="hint">
                            <nb-icon icon="list-outline" pack="eva"></nb-icon>
                        </button>
                        <button class="grid-view-button" nbButton size="small" on-click="mostrarCrear()"
                            nbPopoverPlacement="bottom" [nbPopover]="t['ui.crear']" nbPopoverTrigger="hint">
                            <nb-icon icon="plus-outline" pack="eva"></nb-icon>
                        </button>
                        <button class="grid-view-button" nbButton size="small" *ngIf="editarActivo" on-click="mostrarEditar()"
                            nbPopoverPlacement="bottom" [nbPopover]="t['ui.editar']" nbPopoverTrigger="hint">
                            <nb-icon icon="edit-2-outline" pack="eva"></nb-icon>
                        </button>
                        <button class="grid-view-button" nbButton size="small" *ngIf="editarActivo" on-click="mostrarEliminar()"
                            nbPopoverPlacement="bottom" [nbPopover]="t['ui.eliminar']" nbPopoverTrigger="hint">
                            <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
                        </button>
                        <button class="grid-view-button" nbButton size="small" on-click="mostrarBusqueda()"
                            nbPopoverPlacement="bottom" [nbPopover]="t['ui.buscar']" nbPopoverTrigger="hint">
                            <nb-icon icon="search-outline" pack="eva"></nb-icon>
                        </button>
                        <button class="grid-view-button" nbButton size="small" on-click="mostrariSelColumna()"
                            nbPopoverPlacement="bottom" [nbPopover]="t['ui.selcol']" nbPopoverTrigger="hint">
                            <nb-icon icon="grid-outline" pack="eva"></nb-icon>
                        </button>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-lg-12">
                                <ngx-pika-table></ngx-pika-table>
                            </div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>

                    </nb-card-footer>
                </nb-card>
            </nb-card-front>

            <nb-card-back>
                <nb-card accent="danger" size="large">
                    <nb-card-header>
                        <label>{{contenidoTarjetaTrasera}}</label>
                        <span [ngSwitch]="contenidoTarjetaTrasera" class="single-view-button">
                            <span *ngSwitchCase="'buscar'">
                                <button class="single-view-button" nbButton size="small" on-click="borrarFiltros()"
                                    nbPopoverPlacement="bottom" [nbPopover]="t['ui.borrarfiltros']"
                                    nbPopoverTrigger="hint">
                                    <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
                                </button>
                                <button class="grid-view-button" nbButton size="small" on-click="ocultarVistaTrasera()"
                                    nbPopoverPlacement="bottom" [nbPopover]="t['ui.cerrar']" nbPopoverTrigger="hint">
                                    <nb-icon icon="close-outline" pack="eva"></nb-icon>
                                </button>
                            </span>

                            <span *ngSwitchCase="'editar'">
                                <button class="grid-view-button" nbButton size="small" on-click="ocultarVistaTrasera()"
                                    nbPopoverPlacement="bottom" [nbPopover]="t['ui.cerrar']" nbPopoverTrigger="hint">
                                    <nb-icon icon="close-outline" pack="eva"></nb-icon>
                                </button>
                            </span>
                        </span>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-lg-12">
                                <div [ngSwitch]="contenidoTarjetaTrasera">
                                    <div *ngSwitchCase="'buscar'">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ngx-pika-form-search [GrupoFiltrosId]="1"></ngx-pika-form-search>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngSwitchCase="'editar'">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ngx-pika-form-edit></ngx-pika-form-edit>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
    </div>
</div>