<div *ngIf="isConfirm; then confirmBlock else singleBloc"></div>
<ng-template #confirmBlock>
        <div class="col-lg-12 col-md-12 col-sm-12 form-group" [formGroup]="group">
            <label [for]="propiedad.Id" class="label">&nbsp;{{propiedad.NombreI18n}}</label>
            <nb-form-field>
            <nb-icon *ngIf="match" status="success" nbSuffix   icon="checkmark-outline" pack="eva"></nb-icon>
            <input type="password" nbInput fieldSize="medium" fullWidth="true" 
                (input)="valor1($event)" class="form-control" 
                [id]="propiedad.Id" [formControlName]="propiedad.Id"/>
        </nb-form-field>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 form-group" [formGroup]="group">
            <label [for]="propiedad.Id" class="label">&nbsp;Confirmación</label>
        <nb-form-field>
            <nb-icon *ngIf="match" status="success" nbSuffix   icon="checkmark-outline" pack="eva"></nb-icon>
            <input type="password" nbInput  fieldSize="medium" fullWidth="true" 
                (input)="valor2($event)" class="form-control" 
                [id]="propConfName" [formControlName]="propConfName"  />
        </nb-form-field>
        </div>
        <span [formGroup]="group">
                <input type="hidden" #validfield [id]="propValidName" [formControlName]="propValidName"  />
        </span>
</ng-template>
<ng-template #singleBloc>
        <div class="col-lg-12 col-md-12 col-sm-12 form-group" [formGroup]="group">
            <label [for]="propiedad.Id" class="label">&nbsp;{{propiedad.NombreI18n}}</label>
            <input type="password" nbInput  fieldSize="tiny" fullWidth="true" 
            class="form-control"
                [id]="propiedad.Id" [formControlName]="propiedad.Id" />
        </div>
</ng-template>
