<nb-card [nbSpinner]="cargandoMetadatos"
        nbSpinnerStatus="danger"
        nbSpinnerSize="large"
        nbSpinnerMessage=""
        >
    <nb-card-header>Editor de metadatos</nb-card-header>
    <nb-card-body>
        <ngx-offline-metadata-editor [entidad]="entidad" [config]="config" [metadata]="metadata"
            (NuevaEntidad)="NuevaEntidad($event)" (CapturaFinalizada)="CapturaFinalizada($event)"
            (EntidadActualizada)="EntidadActualizada($event)">
        </ngx-offline-metadata-editor>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
        <button nbButton status="success" (click)="cancel()">Submit</button>
    </nb-card-footer>
</nb-card>