@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

  [nbInput].status-basic.ng-invalid {
    border-left: 5px solid #a94442; /* red */
  } 
  
  .status-basic.ng-invalid {
    border-left: 5px solid #a94442; /* red */
  } 

  .ng-select .ng-select-container .ng-value-container {
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 0;
    border-top: 0.35em solid transparent;
  }

  .ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
    align-self: flex-end;
    bottom: 20px;
  }

  .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    align-self: flex-end;
    bottom: 23px;
  }

  .oculto {
    display: none;
  }
 
};

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(assets/fonts/MaterialIconsOutlined-Regular.otf) format("opentype");
}

.pt-25 {
  padding-top: 25px;;
}

.pt-5 {
  padding-top: 5px;;
}

.pt-10 {
  padding-top: 10px;;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.gray-icon {
  color:  #8f9bb3;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.gray-icon svg {
  fill: #8f9bb3;
}

.green-icon {
  color:  #009900;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.green-icon svg {
  fill: #009900;
}

.red-icon {
  color:  #FF0000;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.red-icon svg {
  fill: #FF0000;
}

