<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6">
      <label>{{t['ui.filtrarpor']}}</label>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <nb-select fullWidth="true" size="small" [(selected)]="selectedProp">
        <nb-option *ngFor="let p of Propiedades" [value]="p.Id">{{p.NombreI18n}}</nb-option>
      </nb-select>
    </div>
</div>
<div class="row pt-4 pb-4">
  <div class="col-lg-12">
    <div class="d-flex justify-content-center">
      <button (click)="addFiltro()" nbButton>
        <nb-icon icon="plus-circle-outline"></nb-icon>{{t['ui.adicionar']}}
      </button>
      <button (click)="filtrar()" nbButton>
        <nb-icon icon="checkmark"></nb-icon>{{t['ui.aplicar']}}
      </button>
    </div>
  </div>
</div>
<div *ngIf="(PropiedadesFiltro.length>0)">
  <form [formGroup]="formaDinamica" >
    <div class="row pt-2" *ngFor="let campo of PropiedadesFiltro;">
      <div class="col-lg-12">
        <hr>
        <ng-container ngxSearchFields [config]="campo" [group]="formaDinamica">
        </ng-container>
      </div>
    </div>
    <div class="row pt-2" *ngFor="let campo of PropiedadesFiltro;">
      <div class="col-lg-12">
        <hr>
      </div>
    </div>
  </form>
</div>


