<div class="row">
    <div class="col-lg-12">
        <mat-toolbar class="mat-elevation-z2 mat-toolbar-white">
            <div class="col-3">
                <span>Permisos</span>
            </div>
            <div class="col-4">
                <nb-form-field>
                    <button nbPrefix nbButton ghost 
                    (click)="focusInput=!focusInput; focusInput ? inputEntidad.focus() : inputEntidad.focusOut() ">
                        <nb-icon [icon]="!focusInput ? 'chevron-down-outline' : 'chevron-up-outline'"></nb-icon>
                    </button>
                    <input #inputEntidad nbInput fullWidth status="info" type="text" placeholder="Buscar usuarios"
                        (keyup)="ObtieneUsuarios($event.target.value)"
                        (focusout)="EstableceTextoEntidad($event)"
                        (click)='focusInput = true'
                        [nbAutocomplete]="auto" [value]="textoEntidadSeleccionada" />
                    <button nbSuffix nbButton ghost (click)="inputEntidad.value=''; inputEntidad.focus(); focusInput=true">
                        <nb-icon icon="close-outline"></nb-icon>
                    </button>
                </nb-form-field>
                <nb-autocomplete #auto (selectedChange)="ActualizaPermisosEntidad($event);">
                    <nb-option-group title="Roles">
                        <nb-option *ngFor="let r of roles" [value]="r.Id">
                            {{r.Nombre}}
                        </nb-option>
                    </nb-option-group>
                    <nb-option-group title="Usuarios">
                        <nb-option *ngFor="let u of usuarios" [value]="u.Id">
                            {{u.Texto}}
                        </nb-option>
                    </nb-option-group>
                </nb-autocomplete>

            </div>
            <div class="col-5 d-flex justify-content-end">
                <button mat-icon-button nbTooltip="Guardar" on-click="GuardaPermisos()">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button nbTooltip="Establecer todos" on-click="MarcaTodos()">
                    <mat-icon>check_box</mat-icon>
                </button>
                <button mat-icon-button nbTooltip="Borrar todos" on-click="DesmarcaTodos()">
                    <mat-icon>check_box_outline_blank</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </div>

    <div class="col-lg-12">
        <nb-reveal-card [showToggleButton]="false">
            <nb-card-front>
                <nb-card accent="info" size="large">
                    <nb-card-body>
                        <div class="row">
                            <div class="col-lg-12">
                                <form [formGroup]="formPermisosEntidad">
                                    <div *ngFor="let app of aplicaciones; let i = index">
                                        <ngx-permisos-aplicacion [aplicacion]="app"
                                            [entidadSeleccionadaId]="entidadSeleccionadaId">
                                        </ngx-permisos-aplicacion>
                                        <br>
                                        <mat-divider [inset]="true"></mat-divider>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>
                    </nb-card-footer>
                </nb-card>
            </nb-card-front>

            <nb-card-back>
                <nb-card accent="danger" size="large">
                    <nb-card-header>
                        <label>Atras</label>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
    </div>
</div>