<ngx-table #table [configuration]="configuration" [data]="data" [columns]="columns" [pagination]="pagination"
    (event)="eventosTabla($event)">
</ngx-table>

<!-- Tmplate para despliegue de booleanos-->
<ng-template #boolTpl let-row let-rowIndex="rowIndex" let-column="column">
    <nb-checkbox [checked]="row[column.key]" [disabled]="true"></nb-checkbox>
</ng-template>

<!-- Tmplate para despliegue de fechas-->
<ng-template #fechaTpl let-row let-rowIndex="rowIndex" let-column="column">
    <span>{{EtiquetasFecha(row[column.key], column.key, column, rowIndex)}}</span>
</ng-template>

<!-- Template para columnas ID -->
<ng-template #listTpl let-row let-rowIndex="rowIndex" let-column="column">
    <span>{{EtiquetaDeId(row[column.key], column.key)}}</span>
</ng-template>

<!-- Template para columnas con catálogo vinulado -->
<ng-template #cataloLinkTpl let-row let-rowIndex="rowIndex" let-column="column">
    <span>{{EtiquetasDeCatalogo(row[column.key], column.key)}}</span>
</ng-template>

<!-- Cuadro de dialogo para la selección de columnas-->
<ng-template #dialogColPicker let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>{{T.t['ui.selcol']}}</nb-card-header>
        <nb-card-body>
            <div class="row" *ngIf="AsociadoMetadatos">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {{T.t['ui.plantillas']}}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <nb-select (selectedChange)="cambioPlantilla($event)" 
                    [(selected)]="plantillaSeleccionada"
                    fullWidth="true" 
                            #listaplantilla>
                        <nb-option *ngFor="let p of plantillas" [value]="p.Id">{{p.Texto}}</nb-option>
                    </nb-select>
                </div>
                <div class="col-lg-12">
                    &nbsp;
                  </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let col of this.columnasBase">
                    <nb-checkbox *ngIf="col.Alternable" (checkedChange)="AlternarColumna(col.Id, $event)"
                        [checked]="col.Visible">{{ col.NombreI18n }}</nb-checkbox>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right">
                        <button nbButton size="medium" (click)="ref.close()">{{T.t['ui.cerrar']}}</button>
                    </div>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>