<div class="row">
  <div class="col-lg-12">
    <mat-toolbar class="mat-elevation-z2 mat-toolbar-white">
      <span>{{Titulo}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>playlist_add</mat-icon>
      </button>
      <mat-icon class="gray-icon">more_vert</mat-icon>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon color="warn">filter_alt</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="col-lg-12">
    <nb-reveal-card [showToggleButton]="false">
      <nb-card-front>
        <nb-card accent="info" size="large">
          <nb-card-body>
            <div class="row">
              <div class="col-lg-12">
                <div style="width: 100%; height: 430px;">
                  <as-split direction="horizontal">
                    <as-split-area [size]="40" class="hideScroll">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <ngx-host-thumbnails [documento]="documento"></ngx-host-thumbnails>
                        </div>
                      </div>
                    </as-split-area>
                    <as-split-area [size]="60">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="padded">
                            <ngx-visor [documento]="documento"></ngx-visor>
                          </div>

                        </div>
                      </div>
                    </as-split-area>
                  </as-split>
                </div>
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <ngx-pie-visor></ngx-pie-visor>
          </nb-card-footer>
        </nb-card>
      </nb-card-front>

      <nb-card-back>
        <nb-card accent="danger" size="large">
          <nb-card-header>
            <label>Atras</label>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-lg-12">
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                &nbsp;
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-reveal-card>
  </div>
</div>