<div class="row" [ngStyle]="{'height': alturaComponente}">
  <div *ngIf="verificandoPermisos; then verificando else verificados"></div>
  <ng-template #verificando>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <nb-card *ngIf="verificandoPermisos" size="tiny" [nbSpinner]="verificandoPermisos"
      nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="Verificando permisos de acceso">
    </nb-card>
    </div>
  </ng-template>
  <ng-template #verificados>
    <div *ngIf="!accesoPermitido" class="col-lg-12">
      No cuenta con los permisos de acceso al elemento
    </div>
    <div *ngIf="accesoPermitido" class="col-lg-12">
      <div [ngStyle]="{width: '100%', height: alturaComponente}">
        <as-split direction="horizontal">
          <as-split-area [size]="40" class="hideScroll">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="padded">
                  <ngx-header-thumbs (cerrarVista)="evCerrarVista()" (cerrarDocumento)="evCerrarDocumento($event)"
                    (callUpload)="callUpload()" [documento]="documento" (eventMuestraInfo)="eventMuestraInfo()">
                  </ngx-header-thumbs>
                  <nb-tabset fullWidth accent="danger">
                    <nb-tab *ngIf="MostrarResultadosTexto" tabTitle="Búsqueda" [active]="true">
                      <ngx-full-text-results [hit]="highlightHit" (NuevaSeleccion)="NuevaSeleccion($event)">
                      </ngx-full-text-results>
                    </nb-tab>
                    <nb-tab tabTitle="Documento" [active]="!MostrarResultadosTexto">
                      <ngx-host-thumbnails [alturaComponente]="alturaComponente" #thumbnails [documento]="documento">
                      </ngx-host-thumbnails>
                    </nb-tab>
                    <nb-tab tabTitle="Metadatos">
                      <ngx-editor-plantilla [config]="config"></ngx-editor-plantilla>
                    </nb-tab>
                  </nb-tabset>
                </div>
              </div>
            </div>
          </as-split-area>
          <as-split-area [size]="60">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="padded">
                  <span class="example-spacer" *ngIf="EsImagen">
                    <ngx-header-visor [documento]="documento"></ngx-header-visor>
                  </span>
                  <ngx-visor [alturaComponente]="alturaComponente"></ngx-visor>
                </div>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </div>
    </div>
  </ng-template>

</div>
<ngx-uploader #uploader
  [accept]="'*'"
  [config]="config" [maxSize]='0'></ngx-uploader>