<div class="row" [ngStyle]="{'height': alturaComponente}">
  <div class="col-lg-12">
    <div [ngStyle]="{width: '100%', height: alturaComponente}">
      <as-split direction="horizontal">
        <as-split-area [size]="40" class="hideScroll">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="padded">
                <ngx-header-thumbs (cerrarVista)="evCerrarVista()" (cerrarDocumento)="evCerrarDocumento($event)"
                  (callUpload)="callUpload()" [documento]="documento" (eventMuestraInfo)="eventMuestraInfo()">
                </ngx-header-thumbs>
                <nb-tabset fullWidth accent="danger">
                  <nb-tab tabTitle="Documento" [active]="true">
                    <ngx-host-thumbnails [documento]="documento"></ngx-host-thumbnails>
                  </nb-tab>
                  <nb-tab tabTitle="Metadatos" [active]="true">
                    <ngx-editor-plantilla [config]="config"></ngx-editor-plantilla>
                  </nb-tab>
                </nb-tabset>
              </div>
            </div>
          </div>
        </as-split-area>
        <as-split-area [size]="60">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="padded">
                  <span class="example-spacer" *ngIf="EsImagen">
                    <ngx-header-visor [documento]="documento"></ngx-header-visor>
                  </span>
                <ngx-visor [alturaComponente]="alturaComponente"></ngx-visor>
              </div>
            </div>
          </div>
        </as-split-area>
      </as-split>
    </div>
  </div>
    <div *ngIf="MostrarResultadosTexto" class="col-lg-12 col-md-12 col-sm-12">
      <ngx-full-text-results [hit]="highlightHit" ></ngx-full-text-results>
    </div>
</div>
<ngx-uploader #uploader
  [accept]="'.jpg,.doc,.docx,.pdf,.mp4,.mov,.avi,.mp3, .wav, .wmv,.ogg, .doc,.docx, .xls,.xlsx,.ppt,.pptx'"
  [config]="config" [maxSize]='10485760'></ngx-uploader>