
<div *ngIf="isTextArea; then textarea else textinput"></div>
<ng-template #textarea>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group" [formGroup]="group">
            <label [for]="config.Id" class="label">&nbsp;{{config.NombreI18n}}</label>
            <textarea nbInput fullWidth="true" 
            [id]="config.Id" [formControlName]="config.Id" class="form-control">
            </textarea>
        </div>
    </div>
</ng-template>
<ng-template #textinput>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group" [formGroup]="group">
            <label [for]="config.Id" class="label">&nbsp;{{config.NombreI18n}}</label>
            <input nbInput type="text" fieldSize="tiny" fullWidth="true" 
                [id]="config.Id" [formControlName]="config.Id" class="form-control" />
        </div>
    </div>
</ng-template>



