@import '~@angular/material/theming';

.imgVisible {
    border-bottom:2px solid black !important;
}

.imgSeleccionada {
    @include mat-elevation(5, black, 1)
}

.imgSubSeleccionada {
    border: blue solid 1px;
    border-radius: 4px;
    margin: 5px;
    width: 122px; 
    height: 148px;
}

.imgDefault {
    border: gainsboro solid 1px;
    border-radius: 4px;
    margin: 5px;
    width: 122px; 
    height: 148px;
}

// img:hover {
//     @include mat-elevation(8, rgba(0, 140, 186, 0.5), 0.8);
// }



