<div class="row">
    <div class="col-lg-12">
        <mat-toolbar class="mat-toolbar-white">
            <span class="toolbar-spacer"></span>
            <button mat-icon-button on-click="CerraVista()" nbTooltip='{{ T.t["ui.cerrarvista"] }}'>
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button on-click="CerrarDocumento()" nbTooltip='{{ T.t["ui.cerrardocumento"] }}'>
                <mat-icon>close</mat-icon>
            </button>
            <mat-icon class="gray-icon">more_vert</mat-icon>
                <button *ngIf="verDetalle" mat-icon-button on-click="seModoVista('mini')" nbTooltip='{{T.t["ui.vista-miniaturas"]}}'>
                    <mat-icon>format_list_bulleted</mat-icon>
                </button>
                <button *ngIf="verMiniaturas" mat-icon-button on-click="seModoVista('detalle')" nbTooltip='{{T.t["ui.vista-detalle"]}}'>
                    <mat-icon>grid_view</mat-icon>
                </button>
            <mat-icon class="gray-icon">more_vert</mat-icon>
            <!-- <button mat-icon-button [nbTooltip]="soloImagenes ? '{{T.t['ui.todos-docs']}}' : '{{T.t['ui.solo-img']}}'"
                on-click="EstableceSoloImaganes(!soloImagenes)">
                <mat-icon [ngClass]="soloImagenes ? 'text-primary' : ''">perm_media</mat-icon>
            </button> -->
            <!-- Separadador -->
            <button *ngIf="eliminar" mat-icon-button on-click="selTodos()" nbTooltip='{{T.t["ui.sel-todos"]}}'>
                <mat-icon>select_all</mat-icon>
            </button>
            <button *ngIf="eliminar" mat-icon-button on-click="selEliminar()" nbTooltip='{{T.t["ui.sel-eliminar"]}}'>
                <mat-icon>clear_all</mat-icon>
            </button>
            <button *ngIf="eliminar" mat-icon-button on-click="selInvertir()" nbTooltip='{{T.t["ui.sel-invertir"]}}'>
                <mat-icon>multiple_stop</mat-icon>
            </button>
            <mat-icon class="gray-icon">more_vert</mat-icon>
            <button *ngIf="eliminar" mat-icon-button on-click="doEliminar()" nbTooltip='{{T.t["ui.eliminar-contenido"]}}'>
                <mat-icon>delete_outline</mat-icon>
            </button>
            <button *ngIf="crear" mat-icon-button on-click="doUpload()" nbTooltip='{{T.t["ui.subirarchivos"]}}'>
                <mat-icon>cloud_upload</mat-icon>
            </button>
            <button *ngIf="leer" mat-icon-button on-click="doZipDownload()" nbTooltip='{{T.t["ui.descargararchivos"]}}'>
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button *ngIf="leer" mat-icon-button on-click="doPDFDownload()" nbTooltip='{{T.t["ui.descargarpdf"]}}'>
                <mat-icon>picture_as_pdf</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</div>