<div class="row">
    <div class="col-lg-12">
        <mat-toolbar class="mat-toolbar-white">
            <button mat-icon-button on-click="CerraVista()" nbTooltip='{{ T.t["ui.cerrarvista"] }}'>
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button on-click="CerrarDocumento()" nbTooltip='{{ T.t["ui.cerrardocumento"] }}'>
                <mat-icon>close</mat-icon>
            </button>
            <mat-icon class="gray-icon">more_vert</mat-icon>
                <button *ngIf="verDetalle" mat-icon-button on-click="seModoVista('mini')" nbTooltip='{{T.t["ui.vista-miniaturas"]}}'>
                    <mat-icon>format_list_bulleted</mat-icon>
                </button>
                <button *ngIf="verMiniaturas" mat-icon-button on-click="seModoVista('detalle')" nbTooltip='{{T.t["ui.vista-detalle"]}}'>
                    <mat-icon>grid_view</mat-icon>
                </button>
            <mat-icon class="gray-icon">more_vert</mat-icon>
            <button *ngIf="leer" mat-icon-button on-click="IrALaPaginaInicio()" nbTooltip='{{T.t["visor.al-inicio"]}}'>
                <mat-icon>first_page</mat-icon>
            </button>
            <input nbInput type="text" fieldSize="small" fullWidth="true" style="width: 75px;" mask="separator.0" thousandSeparator=""
                [id]="paginaidx"  class="form-control" status='info'
                name="paginaidx" [(ngModel)]="paginaidx" (ngModelChange)="cambiaPaginaidx($event)"
                />
            <label class="subtitle pt-2" >&nbsp;/{{totalPaginas}}</label>
            <button *ngIf="leer" mat-icon-button on-click="IrALaPagina()" nbTooltip='{{T.t["visor.a-pagina"]}}'>
                <mat-icon>navigate_next</mat-icon>
            </button>
            <button *ngIf="leer" mat-icon-button on-click="IrALaPaginaFinal()" nbTooltip='{{T.t["visor.al-final"]}}'>
                <mat-icon>last_page</mat-icon>
            </button>
            <!-- <button mat-icon-button [nbTooltip]="soloImagenes ? '{{T.t['ui.todos-docs']}}' : '{{T.t['ui.solo-img']}}'"
                on-click="EstableceSoloImaganes(!soloImagenes)">
                  <mat-icon [ngClass]="soloImagenes ? 'text-primary' : ''">perm_media</mat-icon>
            </button> -->
            <!-- Separadador -->
            <ng-template *ngIf="confirmacionPendiente;then confirmacionPendienteBlock; else noconfirmacionPendienteBlock">
            </ng-template>

          <ng-template #confirmacionPendienteBlock>
            <button mat-icon-button on-click="Confirmar(true)" nbTooltip='{{T.t["ui.aceptar"]}}'>
                <mat-icon class="green-icon">check_circle_outline</mat-icon>
            </button>
            <button mat-icon-button on-click="Confirmar(false)" nbTooltip='{{T.t["ui.cancelar"]}}'>
                <mat-icon class="red-icon">cancel</mat-icon>
            </button>
            <label class="subtitle">&nbsp;{{textoPaginasConfirmacion}}</label>
          </ng-template>

          <ng-template #noconfirmacionPendienteBlock>
            <button *ngIf="eliminar" mat-icon-button on-click="selTodos()" nbTooltip='{{T.t["ui.sel-todos"]}}'>
                <mat-icon>select_all</mat-icon>
            </button>
            <button *ngIf="eliminar" mat-icon-button on-click="selEliminar()" nbTooltip='{{T.t["ui.sel-eliminar"]}}'>
                <mat-icon>clear_all</mat-icon>
            </button>
            <button *ngIf="eliminar" mat-icon-button on-click="selInvertir()" nbTooltip='{{T.t["ui.sel-invertir"]}}'>
                <mat-icon>multiple_stop</mat-icon>
            </button>
            <mat-icon class="gray-icon">more_vert</mat-icon>
            <button *ngIf="crear" mat-icon-button on-click="reordenarPorNombre()" nbTooltip='{{T.t["ui.reordernar-nombre"]}}'>
                <mat-icon>sort_by_alpha</mat-icon>
            </button>
            <button *ngIf="crear" mat-icon-button on-click="iniciarMover()" nbTooltip='{{T.t["visor.mover-paginas-titulo"]}}'>
                <mat-icon>open_with</mat-icon>
            </button>
            <button *ngIf="eliminar" mat-icon-button on-click="doEliminar()" nbTooltip='{{T.t["ui.eliminar-contenido"]}}'>
                <mat-icon>delete_outline</mat-icon>
            </button>
            <button *ngIf="crear" mat-icon-button on-click="doUpload()" nbTooltip='{{T.t["ui.subirarchivos"]}}'>
                <mat-icon>cloud_upload</mat-icon>
            </button>
            <button *ngIf="leer" mat-icon-button on-click="doZipDownload()" nbTooltip='{{T.t["ui.descargararchivos"]}}'>
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button *ngIf="leer" mat-icon-button on-click="doPDFDownload()" nbTooltip='{{T.t["ui.descargarpdf"]}}'>
                <mat-icon>picture_as_pdf</mat-icon>
            </button>
            <button *ngIf="leer" mat-icon-button on-click="doScanner()" nbTooltip='{{T.t["ui.lanzarcliente"]}}'>
                <mat-icon>camera_outline_pro</mat-icon>
            </button>
            <span class="toolbar-spacer"></span>
            <span *ngIf="esImagen && crear">
                <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.REFLEJO_VER)"
                [nbTooltip]="T.t['visor.reflejar-vertical']">
                <mat-icon>import_export</mat-icon>
            </button>
            <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.REFLEJO_HOR)"
                [nbTooltip]="T.t['visor.reflejar-horizontal']">
                <mat-icon>swap_horiz</mat-icon>
            </button>
            <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_180)"
                [nbTooltip]="T.t['visor.rotar-180']">
                <mat-icon>flip_camera_android</mat-icon>
            </button>
            <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_DER)"
                [nbTooltip]="T.t['visor.rotar-derecha']">
                <mat-icon>rotate_right</mat-icon>
            </button>
            <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_IZQ)"
                [nbTooltip]="T.t['visor.rotar-izquierda']">
                <mat-icon>rotate_left</mat-icon>
            </button>
            </span>
          </ng-template>

        </mat-toolbar>
    </div>
</div>
