<div class="row">
    <div class="col-lg-12">
        <mat-toolbar class="mat-elevation-z2 mat-toolbar-white">
            <span>{{T.t['titulo.perfil-usuario']}}</span>
        </mat-toolbar>
    </div>
    <div class="col-lg-12">
        <nb-card accent="info" size="large">
            <nb-card-body>
                <div class="row">
                    <div class="col-xg-8 col-lg-8 col-md-6 col-sm-12">
                        <form [formGroup]="propsForm">
                            <nb-card>
                                <nb-card-header>{{T.t['ui.usuario-actualizar']}}
                                    <span class="float-right">
                                        <button nbButton status="primary" size="small" (click)="onUsuarioUpdate()"
                                            [disabled]="!propsForm.valid">
                                            <nb-icon icon="lock-outline"></nb-icon>
                                            {{T.t['ui.actualizar']}}
                                        </button>
                                    </span>
                                </nb-card-header>
                                <nb-card-body>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="propnombre"
                                                    class="label">{{T.t['ui.usuario-actualizar-nombre']}}</label>
                                                <input nbInput fullWidth id="propnombre" formControlName="propnombre"
                                                    placeholder="{{T.t['ui.usuario-actualizar-nombre']}}">
                                            </nb-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="propapellidop"
                                                    class="label">{{T.t['ui.usuario-actualizar-apellidop']}}</label>
                                                <input nbInput fullWidth id="propapellidop"
                                                    formControlName="propapellidop"
                                                    placeholder="{{T.t['ui.usuario-actualizar-apellidop']}}">
                                            </nb-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="propapellidom"
                                                    class="label">{{T.t['ui.usuario-actualizar-apellidom']}}</label>
                                                <input nbInput fullWidth id="propapellidom"
                                                    formControlName="propapellidom"
                                                    placeholder="{{T.t['ui.usuario-actualizar-apellidom']}}">
                                            </nb-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="propnickname"
                                                    class="label">{{T.t['ui.usuario-actualizar-nickname']}}</label>
                                                <input nbInput fullWidth id="propnickname"
                                                    formControlName="propnickname"
                                                    placeholder="{{T.t['ui.usuario-actualizar-nickname']}}">
                                            </nb-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="propiniciales"
                                                    class="label">{{T.t['ui.usuario-actualizar-iniciales']}}</label>
                                                <input nbInput fullWidth id="propiniciales"
                                                    formControlName="propiniciales"
                                                    placeholder="{{T.t['ui.usuario-actualizar-iniciales']}}">
                                            </nb-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="propgenero"
                                                    class="label">{{T.t['ui.usuario-actualizar-genero']}}</label>
                                                <nb-select formControlName="propgenero" fullWidth
                                                    placeholder="{{T.t['ui.usuario-actualizar-genero']}}">
                                                    <nb-option *ngFor="let g of generos" [value]="g.Id">
                                                        {{ g.Texto }} </nb-option>
                                                </nb-select>
                                            </nb-form-field>
                                        </div>
                                        <div class="col-lg-8 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="propzone"
                                                    class="label">{{T.t['ui.usuario-actualizar-zone']}}</label>
                                                <nb-select formControlName="propzone" fullWidth
                                                    placeholder="{{T.t['ui.usuario-actualizar-zone']}}">
                                                    <nb-option *ngFor="let zona of zonasHorarias" [value]="zona.Id">
                                                        {{ zona.Texto }} </nb-option>
                                                </nb-select>
                                            </nb-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="proppais"
                                                    class="label">{{T.t['ui.usuario-actualizar-pais']}}</label>
                                                <nb-select formControlName="proppais" fullWidth
                                                    (selectedChange)="nuevoPais($event)"
                                                    placeholder="{{T.t['ui.usuario-actualizar-pais']}}">
                                                    <nb-option *ngFor="let pais of paises" [value]="pais.Id">
                                                        {{ pais.Texto }} </nb-option>
                                                </nb-select>
                                            </nb-form-field>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <nb-form-field>
                                                <label for="propestado"
                                                    class="label">{{T.t['ui.usuario-actualizar-estado']}}</label>
                                                <nb-select formControlName="propestado" fullWidth
                                                    (selectedChange)="nuevoEstado($event)"
                                                    placeholder="{{T.t['ui.usuario-actualizar-estado']}}">
                                                    <nb-option *ngFor="let estado of estados" [value]="estado.Id">
                                                        {{ estado.Texto }} </nb-option>
                                                </nb-select>
                                            </nb-form-field>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </form>
                    </div>
                    <div class="col-xg-4 col-lg-4 col-md-6 col-sm-12">
                        <form [formGroup]="passwordForm">
                            <nb-card>
                                <nb-card-header>{{T.t['ui.contrasena-cambiar']}}
                                    <span class="float-right">
                                        <button nbButton status="primary" size="small" (click)="onPasswordSet()"
                                            [disabled]="!passwordForm.valid">
                                            <nb-icon icon="lock-outline"></nb-icon>
                                            {{T.t['ui.establecer']}}
                                        </button>
                                    </span>
                                </nb-card-header>
                                <nb-card-body>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <nb-form-field>
                                                <label for="inputActPass"
                                                    class="label">{{T.t['ui.contrasena-actual']}}</label>
                                                <input [type]="getInputType()" nbInput fullWidth id="inputActPass"
                                                    formControlName="inputActPass"
                                                    placeholder="{{T.t['ui.contrasena-actual-ph']}}">
                                                <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                                                    <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                                        pack="eva"
                                                        [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                                    </nb-icon>
                                                </button>
                                            </nb-form-field>
                                        </div>
                                        <div class="col-sm-12">
                                            <nb-form-field>
                                                <label for="inputNewPass"
                                                    class="label">{{T.t['ui.contrasena-nueva']}}</label>
                                                <input [type]="getInputType()" nbInput fullWidth id="inputNewPass"
                                                    formControlName="inputNewPass"
                                                    placeholder="{{T.t['ui.contrasena-nueva-ph']}}">
                                            </nb-form-field>
                                        </div>
                                        <div class="col-sm-12">
                                            <nb-form-field>
                                                <label for="inputConfirmPass"
                                                    class="label">{{T.t['ui.contrasena-confirmar']}}</label>
                                                <input [type]="getInputType()" nbInput fullWidth id="inputConfirmPass"
                                                    formControlName="inputConfirmPass"
                                                    placeholder="{{T.t['ui.contrasena-confirmar-ph']}}">
                                            </nb-form-field>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </form>
                    </div>                    
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>