cdk-virtual-scroll-viewport{
    height: 500px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    }
    
    li{
    height: 100px;
    background: whitesmoke;
    
    }