<div *ngIf="!oculto" >
<div *ngIf="isTypeAhead; then typeaheadmode else listmode"></div>
<ng-template #listmode>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" [formGroup]="group">
    <label [for]="propiedad.Id" class="label">&nbsp;{{propiedad.NombreI18n}}</label>
    <nb-select size="medium" fullWidth="true" hero="true" [formControlName]="propiedad.Id" [id]="propiedad.Id" #lista
        [selected]="selected" (selectedChange)="onChange($event)">
        <nb-option *ngFor="let item of list" [value]="item.Id">{{item.Texto}}</nb-option>
    </nb-select>
</div>
</ng-template>

<ng-template #typeaheadmode>
    <div class="col-lg-12 col-md-12 col-sm-12 form-group" [formGroup]="group">
        <label [for]="propiedad.Id" class="label">&nbsp;{{propiedad.NombreI18n}}</label>
            <ng-select  #ngSelect
            [items]="elementos"
            bindLabel="Texto"
            bindValue="Id"
            (change)="onTypeaheadChange($event)"
            [addTag]="true"
            [multiple]="false"
            [trackByFn]="trackByFn"
            [minTermLength]="2"
            [loading]="listaLoading"
            [typeahead]="listInput$">
            </ng-select>

    </div>
</ng-template>
</div>