<div class="row">
    <div class="col-lg-12">
        <mat-toolbar class="mat-elevation-z2 mat-toolbar-white">
            <button *ngIf="MostrarRegresar" mat-icon-button [nbTooltip]="T.t['ui.regresar']" nbTooltipPlacement="bottom"
                on-click="regresar()" aria-label="T.t['ui.regresar']">
                <mat-icon color="primary">reply</mat-icon>
            </button>
            <span>
                Buscar en : NOMBRE REPO

            </span>
            <span class="toolbar-spacer">
            </span>
            

            <!-- Separadador -->
            <button style="width:fit-content;" mat-icon-button on-click="buscar()" [nbTooltip]="T.t['busqueda.buscar']"
                nbTooltipPlacement="bottom" aria-label="T.t['busqueda.buscar']">
                <mat-icon class="text-danger">search</mat-icon> {{T.t['busqueda.buscar']}}
            </button>

            <mat-icon class="gray-icon">more_vert</mat-icon>

            <!-- Mostrar busqueda propieddes -->
            <button mat-icon-button on-click="alternarPropiedades()" [nbTooltip]="T.t['busqueda.bpropiedades']"
                nbTooltipPlacement="bottom" aria-label="T.t['busqueda.bpropiedades']">
                <mat-icon>fingerprint</mat-icon>
            </button>

            
            <!-- Mostrar busqueda meatdatos -->
            <button mat-icon-button on-click="alternarMetadatos()" [nbTooltip]="T.t['busqueda.bmetadatos']"
                nbTooltipPlacement="bottom" aria-label="T.t['busqueda.bmetadatos']">
                <mat-icon>turned_in_not</mat-icon>
            </button>


            <!-- Mostrar busqueda folder -->
            <button mat-icon-button on-click="alternarMetadatos()" [nbTooltip]="T.t['busqueda.bfolder']"
                nbTooltipPlacement="bottom" aria-label="T.t['busqueda.bfolder']">
                <mat-icon>folder_open</mat-icon>
            </button>

            <!-- Mostrar busqueda folder -->
            <button mat-icon-button on-click="alternarMetadatos()" [nbTooltip]="T.t['busqueda.btexto']"
                nbTooltipPlacement="bottom" aria-label="T.t['busqueda.btexto']">
                <mat-icon>text_fields</mat-icon>
            </button>



        </mat-toolbar>
    </div>
    <div class="col-lg-12">
        <nb-reveal-card [showToggleButton]="false" [revealed]="VistaTrasera">
            <nb-card-front>
                <nb-card accent="info" size="large">
                    <nb-card-body>
                        <div class="col-lg-6">
                            <nb-accordion>
                                <nb-accordion-item *ngIf="MostrarPropiedades">
                                    <nb-accordion-item-header>Propiedades</nb-accordion-item-header>
                                    <nb-accordion-item-body>
                                        <ngx-b-propiedades #propiedades></ngx-b-propiedades>
                                    </nb-accordion-item-body>
                                </nb-accordion-item>
                                <nb-accordion-item *ngIf="MotrarMetadatos">
                                    <nb-accordion-item-header>Plantillas</nb-accordion-item-header>
                                    <nb-accordion-item-body>
                                        <ngx-b-metadatos #metadatos></ngx-b-metadatos>
                                    </nb-accordion-item-body>
                                </nb-accordion-item>
                            </nb-accordion>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>

                    </nb-card-footer>
                </nb-card>
            </nb-card-front>

            <nb-card-back>
                <nb-card accent="danger" size="large">
                    <nb-card-header>

                    </nb-card-header>
                    <nb-card-body>

                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
    </div>
</div>