<div class="row">
    <div class="col-lg-12">
        <nb-reveal-card [showToggleButton]="false">
            <nb-card-front>
                <nb-card accent="info" size="large">
                    <nb-card-body>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="col text-center">
                                    <img src="../../../assets/images/logo_pika.png">
                                    <br>
                                    <button [disabled]="!servidorSaludable" nbButton on-click="login()"
                                        aria-label="Iniciar sesión">
                                        <mat-icon>fingerprint</mat-icon>
                                        Iniciar Sesión
                                    </button>
                                    <div *ngif="cargaFinalizada && !servidorSaludable">{{T.t['componentes.monitor-salud.nosaludable']}}</div>
                                </div>
                                <div class="pt-4 pb-2"><label class="text-info-focus"> {{T.t['componentes.monitor-salud.titulo']}}</label></div>
                                <ngx-monitor-salud (DatosListos)="DatosListos($event)" (ServidorSaludable)="ServidorSaludable($event)" ></ngx-monitor-salud>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="text-right">
                                    <span class="caption text-hint">{{ver}}</span>
                                </div>
                                <div class="padded">
                                    <h2>Noticias</h2>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                    <!-- <nb-card-footer>
                        <span class="text-danger"></span>
                        <span class="text-hint"></span>
                    </nb-card-footer> -->
                </nb-card>
            </nb-card-front>

            <nb-card-back>
                <nb-card accent="danger" size="large">
                    <nb-card-header>
                        <label>Atras</label>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
    </div>
</div>