
.divContenedor{
    position: relative;
}

.btnZoomGroup{
    position: fixed;
    z-index: 1;
    padding-left: 0.5%;
    padding-top: 5%;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.zoomVisible{
    opacity: 0.9;
}

.loadingCard{
    position: sticky;
    top: 20%;
    z-index: 5;
}