<div class="row">
    <div class="col-lg-12">
        <mat-toolbar class="mat-elevation-z2 mat-toolbar-white">
            <span class="toolbar-spacer"></span>
                <button mat-icon-button [nbTooltip]="soloImagenes ? 'Todos los documentos' : 'Sólo imágenes'"
                    on-click="EstableceSoloImaganes(!soloImagenes)">
                    <mat-icon [ngClass]="soloImagenes ? 'text-primary' : ''">perm_media</mat-icon>
                </button>
                <!-- Separadador -->
                <mat-icon class="gray-icon">more_vert</mat-icon>
                <button mat-icon-button on-click="doUpload()" nbTooltip="Subir archivos">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
                <button mat-icon-button on-click="doZipDownload()" nbTooltip="Descargar archivos">
                    <mat-icon>cloud_download</mat-icon>
                </button>
                <button mat-icon-button on-click="doPDFDownload()" nbTooltip="Descargar PDF">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <!-- Separadador -->
                <mat-icon class="gray-icon">more_vert</mat-icon>
                <button mat-icon-button on-click="muestraInfo()" nbTooltip="Muestra la información del documento">
                    <mat-icon [ngClass]="estadoMuestraInfo ? 'text-primary' : ''">grading</mat-icon>
                </button>
                <!-- Separadador -->
                <mat-icon class="gray-icon">more_vert</mat-icon>
                <!-- actialziar lista de elemento -->
                <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.REFLEJO_VER)"
                    nbTooltip="Reflejo vertical">
                    <mat-icon>swap_vert</mat-icon>
                </button>
                <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.REFLEJO_HOR)"
                    nbTooltip="Reflejo horizontal">
                    <mat-icon>swap_horiz</mat-icon>
                </button>
                <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_180)"
                    nbTooltip="Girar 180°">
                    <mat-icon>flip_camera_android</mat-icon>
                </button>
                <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_DER)"
                    nbTooltip="Girar a la derecha">
                    <mat-icon>rotate_right</mat-icon>
                </button>
                <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_IZQ)"
                    nbTooltip="Girar a la izquierda">
                    <mat-icon>rotate_left</mat-icon>
                </button>
        </mat-toolbar>
    </div>
</div>