<div class="col-12">
    <span class="toolbar-spacer"></span>
    <button mat-icon-button on-click="doUpload()" nbTooltip="Subir páginas">
        <mat-icon>cloud_upload</mat-icon>
    </button>
    <!-- Separadador -->
    <mat-icon class="gray-icon">more_vert</mat-icon>
    <!-- actialziar lista de elemento -->
    <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.REFLEJO_VER)" nbTooltip="Reflejo vertical">
        <mat-icon>swap_vert</mat-icon>
    </button>
    <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.REFLEJO_HOR)" nbTooltip="Reflejo horizontal">
        <mat-icon>swap_horiz</mat-icon>
    </button>
    <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_180)" nbTooltip="Girar 180°">
        <mat-icon>flip_camera_android</mat-icon>
    </button>
    <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_DER)" nbTooltip="Girar a la derecha">
        <mat-icon>rotate_right</mat-icon>
    </button>
    <button mat-icon-button on-click="EstableceOperacionPagina(operaciones.GIRAR_IZQ)" nbTooltip="Girar a la izquierda">
        <mat-icon>rotate_left</mat-icon>
    </button>
</div>